# Node.js related
node_modules/
npm-debug.log
yarn-error.log

# Frontend related
/frontend/node_modules
/frontend/build
/frontend/.env

# Backend related
/backend/node_modules
/backend/.env

# Editor related
.vscode/
.idea/
*.swp
*.swo

# OS related
.DS_Store
Thumbs.db